body {
  background-color: #9b8f99;
  color: rgb(190, 239, 222);
}

.btn {
  background: rgba(138, 105, 105, 0.2);
  /* box-shadow: 10px 5px 10px 5px rgba(20, 1, 1, 0.89); */
  color: rgb(249, 224, 248);
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  line-height: 2.81;
  margin-bottom: 10px;
  min-width: 160px;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 5px;
}

.btn:hover {
  border: px solid;
  border-radius: 5px;
  box-shadow: inset 0 0 20px rgba(223, 192, 221, 0.5),
    0 0 20px rgba(128, 102, 102, 0.2);
  outline-color: rgba(56, 53, 53, 0);
}

.d-flex {
  align-items: center;
}
